/* Color */


.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover,
{
    background-color : #01A2C1 !important;
    background-image: linear-gradient(to bottom,#01A2C1 0,#01A2C1 100%);
    border-color: #18798A !important;
}

.btn-primary
{
    background-color : #01A2C1;
    background-image: linear-gradient(to bottom,#01A2C1 0,#01A2C1 100%);
    border-color: #18798A;
}

.btn-primary:focus,
.btn-primary:hover
{
    background-color : #01A2C1 !important;
    background-image: linear-gradient(to bottom,#01A2C1 0,#01A2C1 100%);
    border-color: #18798A !important;
}


.gp-firm-side-ui .form-group
{
    margin-left: 10px;
    margin-top: 10px;
}

.modal-dialog
{
	width: 95%;
}

.gp-table
{
	margin-top: 10px;
}

 .gp-upload-file
 {
    float: left;
    width: 80%;
    margin-right: 10px;
 }

 .gp-inner-title
 {
	 margin-left:10px;
 }

 .gp-button-group .btn
 {
	margin-right:5px;
 }

 .btn-group>.btn
 {
	border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
 }

 .gp-genpact-logo
 {
     float: left;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-right: 30px;
 }

 .gp-button-group
 {
    margin-top:15px;
 }

 .panel-primary
 {
    border-color: #ef5760;
 }

 .panel-primary > .panel-heading
 {
    background: #ef5760;
    border-color: #da4c54;
 }

 .gp-text-dual-control input[type="text"]:not(:last-child)
 {
    float:left;
 }

 .gp-text-dual-control input[type="text"]
 {
    margin-right:10px;
    width:250px;
 }

 .gp-text-dual-control
 {
     width:100% !important;
 }
 .range{
    padding: 6px 0px;
 }
 .range input{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
 }
 .thr{ padding: 12px 0px;}
 .lbl-p{padding-top:10px}